@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1f1f47;
  color: #fff;
  max-width: 100vw;
  overflow-x: hidden;
}
input#search {
  background: white
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 97% center;
}

.tech-card2 {
  width: 335px;
  height: 220px;
  background: radial-gradient(
    218.51% 281.09% at 100% 100%,
    rgba(253, 63, 51, 0.6) 0%,
    rgba(76, 0, 200, 0.6) 45.83%,
    rgba(76, 0, 200, 0.6) 100%
  );
  box-shadow: rgba(39, 77, 153, 0.2) 0px 30px 60px,
    rgba(255, 255, 255, 0.3) 0px 0px 0px 0.5px inset;
  cursor: pointer;
  border-radius: 30px;
  backdrop-filter: blur(20px);
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 20px;
}
.tech-card34 {
  margin-left: -20px;
  width: 240px;
  height: 280px;
  backdrop-filter: blur(40px);
  border-radius: 0px 30px 40px 40px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: rgba(24, 32, 79, 0.25) 0px 40px 80px,
    rgba(255, 255, 255, 0.5) 0px 0px 0px 0.5px inset;
}

.tech-card21 {
  margin-left: -30px;
  width: 300px;
  height: 200px;
  top: 20px;
  left: 200px;
  background: radial-gradient(
    100% 128.38% at 100% 100%,
    rgba(51, 168, 253, 0.2) 0%,
    rgba(76, 0, 200, 0.2) 100%
  );
  box-shadow: rgba(39, 77, 153, 0.2) 0px 30px 60px,
    rgba(0, 0, 0, 0.2) 0px 0px 0px 0.5px inset;
}

.tech-card {
  background: rgba(15, 14, 71, 0.3);
  box-shadow: rgb(255 255 255 / 20%) 0px 0px 0px 0.5px inset;
  width: 300px;
  height: 200px;
  margin: 0px 20px;
  border: 1px solid #fff;
  padding: 2px;
  border-radius: 1rem;
}

.dzunxg {
  position: relative;
  top: 30px;
  left: -30px;
  perspective: 5000px;
  perspective-origin: left bottom;
  transform-style: flat;
}

.dzunxg img {
  opacity: 0;
  animation: 1s ease 0s 1 normal forwards running jBcSpD;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-name: jBcSpD;
}

.dzunxg > * {
  transform: rotateY(-20deg) rotateX(20deg);
  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}
.dzunxg:hover > * {
  transform: none;
}
.dzunxg:hover #footer {
  margin-top: -13rem;
}

@-webkit-keyframes jBcSpD {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} /*!sc*/
@keyframes jBcSpD {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} /*!sc*/
data-styled.g1154[id="sc-keyframes-jBcSpD"] {
  content: "jBcSpD,";
} /*!sc*/

.comp-kjig6vic {
  position: sticky;
  sticky-top: 24.9%;
  is-sticky: 1;
  top: 40px;
  z-index: 20;
}

.comp-kjig6vicm {
  position: sticky;
  sticky-top: 24.9%;
  is-sticky: 1;
  top: 72px;
}

.comp-kjig6vicmn {
  position: sticky;
  sticky-top: 24.9%;
  is-sticky: 1;
  top: 100px;
}
